NODE_ENV=

PORT=3000

# DATABASE
DB_TYPE=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres
DB_PORT=5432

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=redis

CACHE_TTL=
CACHE_CAPACITY=

# SMS
SMS_EMAIL=
SMS_PASSWORD=
SMS_LOGIN_URL=
SMS_SEND_URL=
VERIFY_SMS=

# mail
MAIL_HOST=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
