<!DOCTYPE html>
<html lang="en" style="margin: 0; padding: 0; box-sizing: border-box;">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link href="https://fonts.googleapis.com" rel="preconnect">
	<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Quicksand:wght@500&family=Space+Grotesk:wght@500&display=swap"
	      rel="stylesheet">
	<title>Document</title>
	<style>

	</style>
</head>

<body style="margin: 0; padding: 0; box-sizing: border-box; display: flex; justify-content: center; align-items: center; font-family: 'Space Grotesk', sans-serif;">
	
<table class="container"
       style=" box-sizing: border-box; width: 698px; margin-top: 40px; margin-bottom: 40px; border: 1px solid grey; border-radius: 5%;
	    padding: 20px; margin-left: 25%;"
       width="698">

	<tr>
		<td></td>
		<td>
			<table width="100%">
				<tr>
					<td width="30%">
					</td>
					<td>
						<img src="https://i.ibb.co/khNtKFX/Group.png" alt="Group" border="0"></a>
					</td>
					<td style="text-align: center ;">
						<h1 class="intiro__title">
							Men Talaba
						</h1>

					</td>
					<td width="30%">
					</td>
				</tr>
				<tr style="">
					<td colspan="4" style="text-align: center ; border-bottom: 1px solid grey">
						<p class="intiro__hello" style="font-weight: 600;
						font-size: 24px;
						line-height: 29px;">Assalomu alaykum, {{name}}</p>
						<p class="intiro__welcome">Mentalaba.uz platformasiga xush kelibsiz!</p>
					</td>
				</tr>
				<tr style="">
					<td colspan="4" style="text-align: center ; padding: 20px 20px 0 20px">
						<p class="code__title">Mentalaba.uz saytida elektron pochta xabarlarini tasdiqlash uchun zarur
							bo'lgan kod.</p>
					</td>
				</tr>
				<tr style="">
					<td colspan="4"
					    style="text-align: center ; border-bottom: 1px solid grey;  padding: 0px 20px 20px 20px ">
						<div class="code__box" style="margin: 0 auto;
						width: 158px;
						padding: 12px 32px;
                        color: white;
                    background: #1AA4FF;
                    border-radius: 4px;">
							<span>{{code}}</span>
						</div>
					</td>
				</tr>
				<tr style="">
					<td colspan="4"
					    style="text-align: center ; border-bottom: 1px solid grey;  padding: 0px 20px 20px 20px ">
						<p style=" padding: 16px 0;
                                    font-size: 16px;
									font-family: 'Space Grotesk', sans-serif">
							Kimdir<a href="https://mentalaba.uz/"
								style=" color: #1AA4FF;
                                padding-bottom: 0;
                                text-decoration: none;
                                border-bottom: 1px solid #1AA4FF;"> mentalaba.uz </a>
							saytida sizning elektron pochtangiz orqali tizimga kirishga uringanligi uchun sizga ushbu
							xatni yubordik
						</p>
						<p style="padding: 16px 0;
                                    font-size: 16px;
									font-family: 'Space Grotesk', sans-serif">Agar bu siz
							bo'lmasangiz, iltimos ushbu xatni e'tiborsiz qoldirmang. Extimol, boshqa foydalanuvchi
							o'zining elektron
							pochta manzilini xato kiritgan bo'lishi mumkin.</p>
					</td>
				</tr>
				<tr style="">
					<td colspan="4"
					    style="text-align: center ;   padding: 0 20px 20px 20px ">
						<p class="end__mchj" style="color: #1AA4FF;
            font-size: 14px;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            margin: 16px 0;">MCHJ "TA'LIM PORTALI"</p>
						<p style="color: #1AA4FF;
            font-size: 12px;
            font-family: 'Inter', sans-serif;" class="end__year">Copyright © 2023</p>
					</td>
				</tr>


			</table>
		</td>
		<td></td>
	</tr>
	<tr>
		<td width=""></td>
	</tr>
</table>
</body>
</html>
